matplotlib
scikit-image
trimesh
rtree
pytorch_lightning
kornia
chumpy
opencv-python
opencv_contrib_python
scikit-learn
protobuf
dataclasses
mediapipe
einops
boto3
open3d
xatlas
huggingface_hub

torchvision
fvcore
iopath
pyembree
cupy
git+https://github.com/YuliangXiu/rembg.git
